{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="content__title_back" style="
background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url({% static 'imgs/poland.jpg' %}); 	
background-position: center; 
background-repeat: no-repeat;
background-size: cover;
">
<!-- background-size: cover; -->
	<div class="centered" style="text-align: center;">
		<h1 style="color: white; text-shadow: 0 0 20px rgb(0, 0, 0, 0.4);">
			Get Work Visa in Poland <br> in just 6-18 month
		</h1>
		<div style="max-width: 65ch;">
			We will help you to ligally get Romanian citizenship in just 6-18 month.
			<br>
			Our lawyers will do all the job, and you recive abitilty to traval in USA and Europe with E-2 Visa
		</div>
		<br>
		<br>
		<div class="tricky-but">
			<div>
				Learn more
			</div>
			 or 
			<div>
				contact us
			</div>
		</div>
	</div>
</div>
{% endblock %}
