{% extends 'base2.html' %}

{% block content %}
	<div class="content-width" style="margin-top: 5rem;">
		<div class="centered">
			<h1>
				My request
			</h1>
			<div style="max-width: 50ch;">
				Paste here your pasport series and press "find" it will show your request and it's status.
			</div>	
			<br>
			<form method="GET">
				<div class="inline-bastards">
					<div>
						{{ form.request }}
						{% csrf_token %}
					</div>
					<input type="submit" class="button" value="Find">
				</div>
			</form>
		</div>
	
	</div>
	<div class="centered">
		{% if message %}
			{{ message }}
		{% endif %}
	</div>
	<br>
	<br>

	{% if result %}
		<div class="content-width" style="text-align: center">
			<h2>
				Request from:
			</h2>
				{{ result.first_name }} {{ result.last_name }}
			<h2>
				State is:
				{{ result.state }}
			</h2>
		</div>
	{% else %}
		<h3 class="centered">
			No results for this requests
		</h3>
	{% endif %}

{% endblock %}