{% extends 'base.html' %}

{% block content %}
	<h1 class="centered">
		My request
	</h1>
	<div class="centered" style="text-align: center; max-width: 60ch;">
		Paste here your pasport series and press "find" it will show your request and it's status.
	</div>
	<div class="centered">
		<form method="GET">
			<div class="inline-bastards">
				<div>
					{{ form.request }}
					{% csrf_token %}
				</div>
				<div>
					<input type="submit" value="Find">
				</div>
			</div>
		</form>
	</div>
	<div class="centered">
		{% if message %}
			{{ message }}
		{% endif %}
	</div>
	{% if result %}
	<br>
	<br>
		<div class="content" style="text-align: center">
			<h2>
				Request from:
			</h2>
				{{ result.first_name }} {{ result.last_name }}
			<h2>
				State is:
				{{ result.state }}
			</h2>
		</div>
	{% endif %}

{% endblock %}