/* for the bit titles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&display=swap');
/* for all the website */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* for mid titles */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');



body{
	font-family: 'Roboto', sans-serif;

	color: rgb(40, 40, 40);
	font-size: 18px;
}


*{
	margin: 0;
	padding: 0
}

.pho-sma{
	max-width: 70ch;
}

.the-lil-text-this{
	max-width: 40ch;
}
.content{
	max-width: 1200px;
	margin: 0 auto;
}

.this-content{
	max-width: 1000px;

}
.header{
	/* border-bottom: 1px solid black; */
	box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.493);
}

.header > .content > div{
	margin-top: 10px;
	width: 49%;
	display: inline-block;
	vertical-align: top;
	/* border: 1px solid gray; */
}

.header > .content > div > h3 {
	vertical-align: top;
	display: inline-block;
	font-weight:bolder;
	/* border: 1px solid blue; */
	margin: 0;
}

.header > .content  > div > div{
	width: fit-content;
	margin: 0 auto;
}

.header__meta_dropdown > div{
	vertical-align: top;
	display: inline-block;

	padding: 0px 15px 5px 15px;
	border-bottom: 3px solid rgba(135, 206, 250, 0);
	transition: 0.5s;

}

.header__meta_dropdown > div:hover{
	color: darkblue;
	cursor: pointer;
	transition: 0.5s;
	border-bottom: 3px solid lightskyblue	
}

.header__meta_dropdown > div > h3{
	margin: 0; 
}

.tit{
	text-align: left;
}
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@600&display=swap');

h1{
	/* font-family: 'Bebas Neue', cursive; */
	font-family: 'Podkova', serif;

	font-size: 50px;
	color:rgb(10, 10, 19);
	/* text-shadow: 0px 0px 30px rgb(192, 192, 192);	 */
}

h2{
	color: black;
	margin:0;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
}

h3{
	font-weight: 100;
}
h4{
	color: black;
	margin-bottom: 0;
}
a{
	color: rgb(2, 2, 49);
	text-decoration: none;
}

.content__title_back{
	background-color: green;

	margin: 0rem 0 0px 0;
	padding: 30px 0rem 60px 0rem;
	
	color: white;
	text-shadow: 0px 0px 25px black;
}
textarea{
	padding: 8px 20px 8px 20px;
	max-height: 15ch;
}

.map{
	padding: 5px;

	min-width: 600px;

	display: grid;
	grid-template-columns: repeat(auto-fill,  minmax(300px, 300px));
	gap: 30px;

	color: white;
}

.map > div > h2{
	color: white;
}

.map > div{
	transition: 0.3s;
	box-shadow: 0px 0px 20px gray;
	border-radius: 10px;
	position: relative;
	padding: 20px;

	text-shadow: 0px 0px 4px black;
	height: 300px;
}

.map > div:hover{
	text-shadow: 0px 0px 8px black;

	transition: 0.3s;
	box-shadow: 0px 0px 20px rgb(27, 27, 27);



}
.culc-choices > span, #culc-people > div{
	display: inline-block;
	background-color: rgb(179, 207, 233);
	padding: 6px 20px 6px 20px;
	border-radius: 20px;
	margin: 3px;

	transition: 0.3s;
}
.culc-choices > span{
	margin-left: 0px;
}

.culc-choices > span:hover{
	cursor: pointer;
	background-color: rgb(119, 238, 172);
	transition: 0.3s;
}

#culc-people{
	background-color: rgb(248, 248, 248);
	border: 2px solid rgb(199, 199, 199);
	max-width: 70ch;
	max-height: 4ch;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	text-align: left;
	margin-top: 15px;
	margin: 0 auto;
}

#culc-people > div{
	display: inline-block;
}
#culc-people > div:hover{
	transition: 0.3s;

	background-color: lightcoral;
	cursor: pointer;
}


.centered{
	width: fit-content;
	margin: 0 auto;
}

.tricky-but > div{
	display: inline-block;
	padding: 6px 20px 6px 20px;
	border-radius: 5px;
	margin-left: 0px;
	margin-right: 10px;


	background-color: white;
	color: black;
	box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.7);
}

.tricky-but > div + div{
	background-color: lightgreen;
	margin-left: 10px;
	margin-right: 0px;
}
.tricky-but > div:hover{
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(128, 128, 128, 1);

}


.drop_down{
	display: none;
	z-index: 1000;
	position: absolute;
	background-color: white;
	font-size: 18px;

	border-left: 1px solid   lightblue;
	border-bottom: 1px solid lightblue;
	margin-left: -10px;
}

.drop_down > h4{
	margin: 0;
}
.drop_down > h4 > a{
	font-size: 18px;
	display: block;
	padding: 8px 16px 8px 16px;
	transition: 0.3s;
}
.drop_down > h4 > a:hover{
	transition: 0.3s;
	background-color: rgb(245, 245, 245);
	color: rgb(25, 25, 83)
}

.reasons-to-apply > div > .lil-text{
	max-width: 40ch;
}


.good_points > div > h2{
	/* border: 1px solid green; */
	border-bottom: 1px solid blue;

	width: fit-content;
	margin: 0 auto;

	padding-bottom: 10px;
	margin-top: 30px;

}

.grid-master{
	display: grid;

	justify-content: center;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fill,  minmax(200px, 250px));

}

.grid-master > div > div > img{
	width: 240px;
}

.cool-inp-name{
	margin-top: -10px;
	font-size: 16px;
}

.cool-inp-name > div > input, .cool-inp-name > div > select, input{
	border: 2px solid gray;
	border-radius: 5px;
	padding: 10px;
	margin: 25px;
	margin-top: -10px;
}
.pull-to-left{
	margin-left:-37px; text-align: center;

}

.cool-inp-name > div > select, input{
	margin:0;
}

.grid-master > div > div > h2{
	font-size: 20px;
}

.grid-master > div > div > svg{
	font-size: 20px;

	height: 60px;
	width: 60px;

	padding-bottom: 10px;
	border-bottom: 5px solid lightblue;
}

svg.nice{
	background-color: rgb(148, 222, 247);
	border-radius: 100px;
}

.afterbirth{
	border-top: 3px solid lightblue;
	padding-bottom: 50px;
}

.inline-bastards > div{
	vertical-align: top;
	display: inline-block;
}
.reasons-to-apply{
	display: grid;

	justify-content: center;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fill,  minmax(500px, 520px))
}

.reasons-to-apply > div > div > h2{
	margin: 0px;
}

.facts > div{
	margin: 10px;
	border-left: 3px solid rgb(34, 149, 221);
	padding-left: 6px;
	max-width: 50ch;
}

.translation-buttons{
	position: absolute;
	top: 100px;

	z-index: 1000;
}

#id_visa_duration{
	border: 1px solid gray;
	font-size: 16px;
	padding: 5px 18px 5px 18px;
	border-radius: 3px;
	background-color: rgb(224, 224, 224);
}


.translation-buttons > div > div{
	transition: 0.3s;

	background-color: rgb(233, 233, 233);
	border-radius: 0px 5px 5px 0px;

	text-align: center;
	padding: 10px 7px 8px 6px;
	margin-bottom: 10px;
}

.translation-buttons > div > div:hover{
	cursor: pointer;
	transition: 0.3s;
	color: white;
	background-color: rgb(72, 153, 72);
}

.request-form{
	vertical-align: top;

	display: inline-block;
	border-radius: 0px 10px 10px 0px;
	padding: 16px 20px 16px 20px;
}
.request-form > form > p > *{
	max-height: 60px;
	max-width: 270px;
	
	border: none;

	border-bottom: 1px solid black;
	padding: 6px;
	font-family: 'Roboto', sans-serif;

}

.request-form > form > p > *::placeholder{
	color: rgb(53, 53, 53);
	font-family: 'Roboto', sans-serif;

}

#confirm-but{
	background-color: rgb(255, 203, 107);
	border: none;
	color: rgb(31, 31, 31);
	padding: 5px 30px 5px 30px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 1000;
	letter-spacing: 1px;
	font-size: 25px;
	border-radius: 10px;
	transition: 0.3s;
	margin-top: 10px;
}
#note{
	text-align: left !important;
	position: fixed;
	background-color: white;
	border: 1px solid black;
	
	z-index: 10000;
	top: 15%;
	left: 30%;

	min-width: 300px;
	max-width: 500px;
	padding: 30px;

	border-radius: 10px;
	box-shadow: 0px 0px 100px black;
}
#note-closer{
	position: absolute;
	right: 0;
	top: 0;

	background-color: rgb(221, 120, 120);
	color: rgb(61, 0, 0);
	padding: 9px 15px 10px 15px;
	transition: 0.3s;
	border-radius: 0px 0px 0px 10px;

}

#note-closer:hover{
	transition: 0.3s;
	background-color: rgb(182, 96, 96);
	color: rgb(21, 0, 0);
	cursor: pointer;

}


#confirm-but:hover{
	background-color: rgb(255, 183, 97);
	cursor: pointer;

}

.left-haft-form{
	vertical-align: top;
	display: inline-block;
	border-radius: 10px 0px 0px 10px;

	padding: 16px 20px 16px 20px;

	margin-right: -4.5px;
}

#the-button{
	text-shadow: none;
	background-color: rgb(255, 203, 107);
	border: none;
	color: rgb(31, 31, 31);
	position: absolute;
	right: 20px;
	bottom: 30px;
	padding: 5px 30px 5px 30px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 1000;
	letter-spacing: 1px;
	font-size: 25px;
	border-radius: 10px;
	transition: 0.3s;
}

#the-button:hover{
	cursor: pointer;
	transition: 0.3s;
	background-color: rgb(255, 146, 0);
	color: black;
}

#the-button:active{
	background-color: rgb(255, 193, 77);

}

.this-not-pne{
	grid-template-columns: repeat(auto-fill,  minmax(200px, 200px))
}

.lil-text{
	max-width: 60ch;
}


.this-one{
	grid-template-columns: repeat(auto-fill,  minmax(550px, 550px));

}

.main-big-title > div{
	/* border: 1px solid green; */
}

.main-big-title{
	/* border: 1px solid red; */
}
.main-big-title > div > h1{
	color: white;
	text-shadow: 0px 0px 25px black;
	margin: 0;
	padding: 0;
}

#scroll-fown-but{	
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	transition: 0.3s;
	font-weight: 1000;
	background-color: yellow;
	color: black;
	padding: 7px 25px 5px 25px;
	width: fit-content;
	border-radius: 100px;
}
#scroll-fown-but:hover{
	color: white;
	cursor: pointer;
	transition: 0.3s;
	background-color: rgb(205, 86, 50);

}

@media only screen and (max-device-width: 1200px){
	.tit{
		
		margin: 0 auto !important;
		/* border: 1px solid red !important; */
	}

	body{
		overflow-x:auto;
		font-size: 16px;
	}

	.grid-master{
		grid-template-columns: repeat(auto-fill,  minmax(80%, 80%));
	}

	br{
		content: "";
		display: block;
		height: 20px;
	}
	h1{
		font-size: 100px;
	}
	h2{
		font-size: 18px;
		text-align: center;
	}

	.good_points > div > h2{
		width: 100%;
		text-align: center;
		font-size: 38px;

	}

	.reasons-to-apply{
		grid-template-columns: repeat(auto-fill,  minmax(800px, 800px))

	}

	.reasons-to-apply > div > div > h2{
		font-size: 35px;
	}


	.reasons-to-apply > div > .lil-text{
		max-width: 140ch;
		font-size: 16px;
	}
	
	.reasons-to-apply > div >.the-lil-text{
		max-width: 75ch;
	}
	.the-lil-text{
		max-width: 40ch;
	}

	.reasons-to-apply > div > div > div{
		font-size: 30px;

	}

	h1{
		text-align: center;		
	}

	/* ADD TO ALL PAGES */
	.lil-text{
		max-width: 100%;
		font-size: 15px;
	}
	

	.afterbirth{	
		border-top: 3px solid lightblue;
	}
	
	.header{
		font-size: 40px;
	}
	.header > div >div > div > div> h3{
		margin-top: 20px;
	}

	.drop_down > h4 > a{
		padding: 50px;
		font-size: 50px;
		}
	.drop_down > h4 > a:hover{
		font-size: 50px;
		background-color: cadetblue;
		}


	.this-one > div{
		max-width: 200ch;
		border: none;
	}

	.this-one > div > div{
		font-size: 40px;

	}
	.this-one > div > div > h2{
		font-size: 40px;
	}

	.the-lil-text-this{
		max-width: 65ch;
	}

	.this-not-pne{
		grid-template-columns: repeat(auto-fill,  minmax(300px, 300px));
		gap: 40px;
	}
	.this-not-pne > div > div > h2{
		text-align: center;
	}
	.header > .content > div{
		width: fit-content;
	}	

	.header{
		/* border-bottom: 1px solid black; */
		padding-bottom: 10px;
		box-shadow: none;
		margin-bottom: 0px;
	}
	
	.header__meta_dropdown{
		text-align: center;
	}
	.pho-sma{
		max-width: none;
		width: 100%;
		text-align: center;
	}
	.tricky-but{
		font-size: 50px !important;
	}
	.translation-buttons{
		position: fixed;
		top: 20vh;
	}
	.translation-buttons > div > div{
		font-size: 30px !important;
		
	}
	.small-form > div{
		margin-left: 10%;
		margin-bottom: 10px;
	}
	.small-form > div > input{
		min-width: 300px;
	}
	h4{
		font-size: 50px;
	}
	.cool-inp-name{
		
	}
	.cool-inp-name > div > input, .cool-inp-name > div > select, input{
		font-size: 50px;
		margin: 0;
		margin-left: 20px;
	}
	#confirm-but{
		font-size: 70px;
	}
	#culc-people{
		margin: 0 auto;
		min-height: 60px;
	}
	#id_visa_duration{
		font-size: 40px;
	}
	.culc-choices > span{
		font-size: 50px;
	}
	#culc-people > div{
		font-size: 30px;
	}
	textarea{
		min-width: 700px;
	}
	#note{
		font-size: 30px;

		top: 15%;
		left: 20%;
	
	}
	#note > h2{
		font-size: 60px;
		text-align: left;
	}

}
