/* for the bit titles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&display=swap');
/* for all the website */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* for mid titles */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
	font-family: 'Roboto', sans-serif;

	overflow-x: hidden;
	letter-spacing: 0.5px;
	color: rgb(54, 54, 54)
}

.content{
	max-width: 1200px;
	margin: 0 auto;

	/* border: 1px solid green; */
}

.header{
	border-bottom: 1px solid black;

	margin: -100rem -100rem 0px -100rem;
	padding: 100rem 100rem 5px 100rem;
}

.header > .content > div{
	margin-top: 10px;
	width: 49%;
	display: inline-block;
	vertical-align: top;
	/* border: 1px solid gray; */
}

.header > .content > div > h3 {
	vertical-align: top;
	display: inline-block;
	font-weight:bolder;
	/* border: 1px solid blue; */
	margin: 0;
}

.header > .content  > div > div{
	width: fit-content;
	margin: 0 auto;
}

.header__meta_dropdown > div{
	vertical-align: top;
	display: inline-block;

	padding: 0px 15px 5px 15px;
	border-bottom: 3px solid rgba(135, 206, 250, 0);
	transition: 0.5s;

}

.header__meta_dropdown > div:hover{
	color: darkblue;
	cursor: pointer;
	transition: 0.5s;
	border-bottom: 3px solid lightskyblue	
}

.header__meta_dropdown > div > h3{
	margin: 0; 
}

.header > .content  > div > div > h3{

	/* border: 1px solid blue; */

}


h1{
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	font-size: 42px;
	color:rgb(2, 2, 49);
	text-shadow: 0px 0px 30px rgb(192, 192, 192);
}

h2{
	color: black;
	margin:0;
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
}

h3{
	font-weight: 100;
}
a{
	color: rgb(2, 2, 49);
	text-decoration: none;
}

.content__title_back{
	background-color: green;

	margin: 0rem -10rem 0px -10rem;
	padding: 30px 10rem 60px 10rem;
	
	color: white;
	text-shadow: 0px 0px 25px black;
}

.centered{
	width: fit-content;
	margin: 0 auto;
}

.tricky-but > div{
	display: inline-block;
	padding: 10px 15px 10px 15px;
	border-radius: 20px;

	background-color: white;
	color: black
}

.tricky-but > div + div{
	background-color: lightgreen;
}

.drop_down{
	display: none;
	position: absolute;
	background-color: white;
	font-size: 18px;

	border-left: 1px solid   lightblue;
	border-bottom: 1px solid lightblue;
	margin-left: -10px;
}

.drop_down > h4{
	margin: 0;
}
.drop_down > h4 > a{
	font-size: 18px;
	display: block;
	padding: 8px 16px 8px 16px;
	transition: 0.3s;
}
.drop_down > h4 > a:hover{
	transition: 0.3s;
	background-color: rgb(245, 245, 245);
	color: rgb(25, 25, 83)
}

.good_points > div > h2{
	/* border: 1px solid green; */
	border-bottom: 1px solid blue;

	width: fit-content;
	margin: 0 auto;

	padding-bottom: 10px;
	margin-top: 30px;

}

.grid-master{
	display: grid;

	justify-content: center;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fill,  minmax(200px, 250px));

}

.grid-master > div{
}
.grid-master > div > div > img{
	width: 240px;
}

.grid-master > div > div > h2{
	font-size: 20px;
}

.grid-master > div > div > svg{
	font-size: 20px;

	height: 60px;
	width: 60px;

	padding-bottom: 10px;
	border-bottom: 5px solid lightblue;
}

svg.nice{
	background-color: rgb(148, 222, 247);
	border-radius: 100px;
}

.afterbirth{
	margin: 0rem -100rem -2rem -100rem;
	padding: 0rem 100rem 2rem 100rem;

	border-top: 3px solid lightblue;
}

.inline-bastards > div{
	vertical-align: top;
	display: inline-block;
}

.reasons-to-apply > div > div > h2{
	margin: 0px;
}

.facts > div{
	margin: 10px;
	border-left: 3px solid rgb(34, 149, 221);
	padding-left: 6px;
	max-width: 50ch;
}

.translation-buttons{
	border-bottom: 1px solid gray;

	margin-left: -10rem;
	padding-left: -10rem;
	margin-right: -10rem;
	padding-right: -10rem;
}


.translation-buttons > div{
	margin-top: -6px;
}

.translation-buttons > div > div{
	transition: 0.3s;

	display: inline;
	vertical-align: top;

	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background-color: rgb(233, 233, 233);


	text-align: center;
	padding: 3px 7px 0px 6px;
	margin: 3px;
}

.translation-buttons > div > div:hover{
	cursor: pointer;
	transition: 0.3s;
	color: white;
	background-color: green;
}

.request-form{
	vertical-align: top;

	display: inline-block;
	border-radius: 0px 10px 10px 0px;
	padding: 16px 20px 16px 20px;
}
.request-form > form > p > *{
	max-height: 60px;
	max-width: 270px;
	
	border: none;

	border-bottom: 1px solid black;
	padding: 6px;
	font-family: 'Roboto', sans-serif;

}

.request-form > form > p > *::placeholder{
	color: rgb(53, 53, 53);
	font-family: 'Roboto', sans-serif;

}

.left-haft-form{
	vertical-align: top;
	display: inline-block;
	border-radius: 10px 0px 0px 10px;

	padding: 16px 20px 16px 20px;

	margin-right: -4.5px;
}

#the-button{
	background-color: orange;
	border: none;
	color: rgb(31, 31, 31);
	position: absolute;
	right: 20px;
	bottom: 30px;
	padding: 5px 30px 5px 30px;
	font-family: 'Bebas Neue', cursive;
	font-weight: 1000;
	letter-spacing: 1px;
	font-size: 25px;
	border-radius: 10px;
	transition: 0.3s;
}

#the-button:hover{
	transition: 0.3s;
	background-color: rgb(255, 146, 0);
	color: black;
}

#the-button:active{
	background-color: rgb(255, 193, 77);

}